* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

:root {
  --primary: hsl(160deg, 100%, 30%);
  --secondary-1: hsl(45deg, 100%, 50%);
  --secondary-2: hsl(45deg, 100%, 40%);
  --gray-vdark: hsl(0deg, 0%, 10%);
  --gray-dark: hsl(0deg, 0%, 30%);
  --gray-med: hsl(0deg, 0%, 40%);
  --gray-light: hsl(0deg, 0%, 60%);
}

h1 {
  font-size: 2rem;
  font-weight: 800;
}

h2 {
  font-size: 1.5rem;
  font-weight: 800;
}

p {
  font-size: 1.25rem;
  font-weight: 400;
}

strong {
  color: var(--primary);
  font-weight: 800;
}

main {
  background-color: var(--gray-med);
  padding-top: 72px;
  padding-bottom: 72px;
  border-top: 8px solid var(--gray-light);
}

.max-width-wrapper {
  margin: 0 auto;
  max-width: 800px;
}

.intro-chunk {
  max-width: 415px;
  padding: 96px 24px 44px;
}

.indented-heading {
  background-color: var(--secondary-1);
  padding: 16px 32px;
  border-bottom: 8px solid var(--secondary-2);
  width: fit-content;
  margin-left: -32px;
  margin-top: 0;
}

.card {
  background-color: white;
  padding: 8px 24px 4px 24px;
  border-bottom: 8px solid var(--gray-light);

  & p {
    font-weight: 500;
  }
}
